

html {
  width: 100%;
  height: 100vh;
}
body {
  background-image: url("./phoneback.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  /* overflow: hidden !important;
  position: fixed !important; */
  background-attachment: fixed !important;
  
}
.no-copy{
  -webkit-user-select: none !important;  
  -moz-user-select: none !important;     
  -ms-user-select: none !important;      
  user-select: none !important;    
}
.layer {
  background-color: rgba(0,0,0,0.52) !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.ui.form .field>label{
  color: white !important;
}

.App {
  text-align: center;
  /* background-color: blue !important; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.minus-button{
  background-color: red;
  border: solid 2px red;
  height: 40px;
  border-radius: 10px;
  /* box-shadow: 1.5px 2px 0px 2px rgb(175, 69, 69); */
  margin-bottom: 10px;
  font-weight: 900;
  width: 90px;
}

.minus-button:focus{
  outline: 0;
}

.minus-button:active {
  border-radius: 10px;
  box-shadow: 0 1px rgba(0,0,0,0.2);
  transform: translateY(4px);
}
.ui.attached.menu:not(.tabular){
  background-color: rgb(150, 150, 131) !important;
  border: grey !important;
}

.add-button.create{
  background-color: #35A3A6;
  border: grey;
  color: white;
  width: 117px;
}
.scan{
  background-color: #FD6041;
  border: solid 2px #FD6041;
  margin-left: 20px;
}

.ui.form .field

.ui.cards>.card{
  background-color: rgb(219, 219, 202) !important;
}

.add-button{
  color: white;
  background-color: #FD6041;
  border: solid 2px #FD6041;
  height: 40px;
  border-radius: 10px;
  box-shadow: 1px 2px 0px 1px rgba(0,0,0,0.2);
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 900;
  min-width: 140px;
}

.ui.form .field>label {
  color: 'white' !important;
}

.ui.form .field .ui.input input, .ui.form .fields .field .ui.input input{
  box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.2);
}

.add-button:focus{
  outline: 0;
}

.ui.selection.dropdown{
  margin-bottom: 15px;
}

.add-button:active {
  border-radius: 10px;
  box-shadow: 0 1px rgba(0,0,0,0);
  transform: translateY(4px);
}

.scene {
  margin: -45px;
  perspective: 500px;
}

.card {
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-fliped {
  transform: translateY(0%) rotateX(180deg);
}

.item__face {
  backface-visibility: hidden;  
}

.item__face--front {
  color: red;
}

.item__face--back {
  color: #35A3A6 !important;
  transform: rotateX(180deg);
  margin-top: 0px;
}


/* .item__face item__face--front{
  color: #35A3A6 !important;
  text-shadow: 4px 4px 2px 4px rgb(2, 2, 2); */
/* } */

.searching{
  color: red !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
